secrets.yaml
# Logs
logs
*.log
# Python cache
__pycache__
*.pyc

# Other
*.db-journal
*.log
*.noload

# *.xml
# *.backup
# *.json
life360.sh
.ip_authenticated.yaml
ip_bans.yaml
# .config_entries.json
# *.google.token
# .google.token
.ring_cache.pickle
.spotify-token-cache
# .storage
abodepy_cache.pickle
camera_recording.py
# home-assistant.env
# home-assistant.*
# known_devices.yaml
# entity_registry.yaml
# secrets.yaml
# google_calendars.yaml
# SERVICE_ACCOUNT.json
components
# deps
# tts
# www/icons
# www/floorplans
www/community
custom_components/hacs
downloads
icloud
dlib_faces
dlib_nofaces
dlib_known_faces
dlib_unknown_faces
.cloud
*.pickle
.pc-session
google*.deb
.homekit.state
.git/config
*.db
*.fault
*.log.*
*.db.*
SERVICE_ACCOUNT.json
/deps/
deps/
www/
themes/
custom_components/
custom_templates/
.cloud/
.storage/
packages/
blueprints/
html5_push_registrations.conf
zigbee2mqtt/log/
zigbee2mqtt/state.json
.HA_VERSION
