
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
}

body {
  margin: 0;
  background-color: #222;
  font-size: 15px;
  color: #fff;
  padding: 0;
  line-height: 1;
  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial'
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

iframe {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-bottom: 6px;
  text-align: center;
  font-size: 100%;
  font-weight: 200;
}
h2 {
  font-size: 300%;
  font-weight: 400;
  color: #fff;
}
h3 {
  font-size: 125%;
  font-weight: 300;
  color: #fff;
}

input {
  background-color: #444;
  border: none;
}

.dashboard_main {
	margin: 0px auto;
}

.gridster {
  margin: 0px auto;
}

.icon-background {
  pointer-events: none;
  width: 100%!important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 1375%;
  text-align: center;
  margin-top: 82px;
}

.list-nostyle {
  list-style: none;
}

.gridster ul {
  list-style: none;
}

.gs-w {
  width: 100%;
  display: table;
  cursor: pointer;
  z-index: auto !important;
}

.iframe {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.widget {
  padding: 0px 0px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #444444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.title {
  color: #fff;
}

.icon-inactive {
  color: #888;
}

.icon-active {
  color: #aaff00;
}


#container {
  padding-top: 0px;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogOpen {
	opacity:0.95;
	pointer-events: auto;
}

.modalDialogClose {
	opacity:0;
	pointer-events: none;
}

.modalDialog > div {
	width: 275px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}

.modalDialogCloseButton {
	line-height: 50px;
	position: absolute;
	right: -25px;
	text-align: center;
	top: -20px;
	width: 50px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.modalDialogCloseButton:hover { background: #444; }

.widget-basedisplay-default-mode .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-mode .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-mode .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-mode .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-mode .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-mode .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}
.widget-basedisplay-default-label .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-label .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-label .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-label .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-label .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-label .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}
.widget-basedisplay-default-side-humidity .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-side-humidity .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-side-humidity .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-side-humidity .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-side-humidity .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-side-humidity .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}
.widget-baseswitch-default-andrew-presence .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-andrew-presence .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-andrew-presence .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-andrew-presence .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-andrew-presence .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-baseswitch-default-porch-sensor .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-porch-sensor .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-porch-sensor .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-porch-sensor .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-porch-sensor .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-baseclock-default-clock-clock.date {
	position: absolute;
	top: 5px;
	width: 100%;
}
.widget-baseclock-default-clock-clock.time {
 	position: absolute;
	top: 45px;
	width: 100%;
}
.widget-baseweather-default-weather {
    color: white;
}

.widget-baseweather-default-weather h1 {
    margin-bottom: 0px;
}

.widget-baseweather-default-weather [class^="primary"] {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.widget-baseweather-default-weather .primary-climacon {
    font-family: "Climacons-Font";
    font-size: 70px;
}

.widget-baseweather-default-weather .primary-info {
    font-size: 300%;
    font-weight: 400;
}

.widget-baseweather-default-weather .primary-unit {
    font-size: 100%;
    font-weight: 400;
    margin-left: 0;
    margin-top: 20px;
    vertical-align: top;
}

.widget-baseweather-default-weather [class^="secondary-"] {
    padding: 0;
    margin: 0px;
}

.widget-baseweather-default-weather .secondary-detail {
    display: inline-block;
    font-size: 125%;
    font-weight: 200;
    vertical-align: middle;
    padding: 2px 4px;
}

.widget-baseweather-default-weather .secondary-climacon {
    font-family: "Climacons-Font";
    font-size: 40px;
    margin-left: 10px;
    margin-right: 0px;
}

.widget-baseweather-default-weather .rain:before{
    content: "\e009";
}

.widget-baseweather-default-weather .snow:before{
    content: "\e036";
}

.widget-baseweather-default-weather .sleet:before{
    content: "\e003";
}

.widget-baseweather-default-weather .wind:before{
    content: "\e021";
}

.widget-baseweather-default-weather .fog:before{
    content: "\e01b";
}

.widget-baseweather-default-weather .cloudy:before{
    content: "\e000";
}

.widget-baseweather-default-weather .clear-day:before{
    content: "\e028";
}

.widget-baseweather-default-weather .clear-night:before{
    content: "\e02d";
}

.widget-baseweather-default-weather .partly-cloudy-day:before{
    content: "\e001";
}

.widget-baseweather-default-weather .partly-cloudy-night:before{
    content: "\e002";
}

.widget-baseweather-default-weather hr {
    width: 90%;
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.25);
    margin-top: 15px;
    margin-bottom: 15px;
}
.widget-baseswitch-default-scene-office-on .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-scene-office-on .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-scene-office-on .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-scene-office-on .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-scene-office-on .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-baseswitch-default-office-off .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-office-off .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-office-off .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-office-off .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-office-off .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-baselight-default-hall .state_text {
	font-size: 85%;
}

.widget-baselight-default-hall .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-hall .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-hall .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-hall .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-hall .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-hall .level {
	display: inline-block;
}

.widget-baselight-default-hall .unit {
	display: inline-block;
}

.widget-baselight-default-hall .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-hall .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-hall .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-hall .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-hall .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-hall .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baselight-default-office-light .state_text {
	font-size: 85%;
}

.widget-baselight-default-office-light .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-office-light .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-office-light .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-office-light .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-office-light .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-office-light .level {
	display: inline-block;
}

.widget-baselight-default-office-light .unit {
	display: inline-block;
}

.widget-baselight-default-office-light .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-office-light .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-office-light .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-office-light .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-office-light .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-office-light .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-basemedia-default-media-player .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basemedia-default-media-player .artist {
	position: absolute;
	top: 30px;
	width: 100%;
}

.widget-basemedia-default-media-player .album {
	position: absolute;
	top: 55px;
	width: 100%;
}

.widget-basemedia-default-media-player .media_title {
	position: absolute;
	top: 80px;
	width: 100%;
}

.widget-basemedia-default-media-player .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-basemedia-default-media-player .previous {
    position: absolute;
	top: 130px;
    left: 25px;
    z-index: 10;
}

.widget-basemedia-default-media-player .play {
    position: absolute;
	top: 130px;
    width: 100%;
}

.widget-basemedia-default-media-player .next {
    position: absolute;
	top: 130px;
	right: 25px;
    z-index: 10;
}


.widget-basemedia-default-media-player .level {
	display: inline-block;
}

.widget-basemedia-default-media-player .unit {
	display: inline-block;
}

.widget-basemedia-default-media-player .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-basemedia-default-media-player .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-basemedia-default-media-player .secondary-icon.plus {
	right: 24px;
}

.widget-basemedia-default-media-player .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 10px;
}

.widget-basemedia-default-media-player .secondary-icon.minus {
	left: 28px;
}

.widget-basemedia-default-media-player .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baseslider-default-rene .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseslider-default-rene .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseslider-default-rene .level {
	font-size: 250%;
	display: inline-block;
}

.widget-baseslider-default-rene .unit {
	font-size: 100%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-baseslider-default-rene .levelunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseslider-default-rene .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baseslider-default-rene .level2 {
	display: inline-block;
}

.widget-baseslider-default-rene .unit2 {
	font-size: 65%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;

}

.widget-baseslider-default-rene .levelunit2 {
	position: absolute;
	bottom: 5px;
	width: 100%;
}
.widget-baseslider-default-rene .secondary-icon.plus {
	right: 24px;
}

.widget-baseslider-default-rene .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baseslider-default-rene .secondary-icon.minus {
	left: 8px;
}

.widget-baseslider-default-rene .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baseslider-default-input-slider-test .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseslider-default-input-slider-test .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseslider-default-input-slider-test .level {
	font-size: 250%;
	display: inline-block;
}

.widget-baseslider-default-input-slider-test .unit {
	font-size: 100%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-baseslider-default-input-slider-test .levelunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseslider-default-input-slider-test .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baseslider-default-input-slider-test .level2 {
	display: inline-block;
}

.widget-baseslider-default-input-slider-test .unit2 {
	font-size: 65%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;

}

.widget-baseslider-default-input-slider-test .levelunit2 {
	position: absolute;
	bottom: 5px;
	width: 100%;
}
.widget-baseslider-default-input-slider-test .secondary-icon.plus {
	right: 24px;
}

.widget-baseslider-default-input-slider-test .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baseslider-default-input-slider-test .secondary-icon.minus {
	left: 8px;
}

.widget-baseslider-default-input-slider-test .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baseswitch-default-input-boolean-heating .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-heating .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-heating .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-heating .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-input-boolean-heating .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-baseswitch-default-office-light-switch .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-office-light-switch .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-office-light-switch .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-office-light-switch .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-office-light-switch .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basedisplay-default-summary .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-summary .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-summary .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-summary .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-summary .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-summary .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}
.widget-baseswitch-default-garage .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-garage .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-garage .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-garage .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-garage .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
